</main>
    
<footer class="bg-white shadow dark:bg-gray-900">
    <div class="w-full max-w-screen-xl mx-auto p-4 md:py-8">
        <hr class="h-px my-8 bg-gray-200 border-0 dark:bg-gray-700">
        <div class="sm:flex sm:items-center sm:justify-between">
            <a href="https://flowbite.com/" class="flex items-center mb-4 sm:mb-0 space-x-3 rtl:space-x-reverse">
                <img src="/img/logo-polsri.png" class="h-8" alt="Logo Politeknik Negeri Sriwijaya" />
                <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">PPID POLSRI</span>
            </a>
        </div>
        <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
        <span class="block text-sm text-gray-500 sm:text-center dark:text-gray-400">© <%= new Date().getFullYear() %> <a href="https://polsri.ac.id/" class="hover:underline">Polsri</a>. All Rights Reserved.</span>
    </div>
</footer>



<script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>
</body>
</html>